@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

:root{
    --branco: white;
    --cor-de-fundo: #00162E;
    --fundo-senha: #00244D;
    --fundo-texto: #001E40;
    --borda: #0075FF;
    --roboto: 'Roboto', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;
}

body{
    margin: 0;
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
}

.conteudo{
    max-width: 1200px;
    margin: 0 auto;
}

/* layout dos blocos */
.parametro-coluna__senha{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* bloco geral */
.parametro-senha{
    width: 100%;
}

/* barra */
.barra{
    width: 100%;
    height: 30px;
    background-color: var(--fundo-senha);
    border-radius: 5px;
    overflow: hidden;
}

.forca{
    height: 100%;
    transition: 0.3s;
}

.fraca{
    width: 25%;
    background-color: #E71B32;
}

.media{
    width: 50%;
    background-color: #FAF408;
}

.forte{
    width: 100%;
    background-color: #00FF85;
}

/* textos força */
.parametro-senha-textos{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.parametro-senha-textos p{
    margin: 0;
    color: var(--branco);
}