@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

:root{
    --branco: white;
    --cor-de-fundo: #00162E;
    --fundo-senha: #00244D;
    --fundo-texto: #001E40;
    --borda: #0075FF;
    --roboto: 'Roboto', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;
}

body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
}

/* CONTAINER */
.parametro-senha{
    width: 50%;
    margin: 20px auto;
}

/* TITULO */
.parametro-senha__titulo{
    font-size: 24px;
}

/* CHECKBOX */
.checkbox{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* BARRA FUNDO */
.barra{
    width: 100%;
    height: 30px;
    background-color: var(--fundo-senha);
    border-radius: 5px;
    overflow: hidden;
}

/* BARRA DE FORÇA */
.forca{
    height: 100%;
    transition: 0.3s;
}

.fraca{
    width: 25%;
    background-color: #E71B32;
}

.media{
    width: 50%;
    background-color: #FAF408;
}

.forte{
    width: 100%;
    background-color: #00FF85;
}

/* TEXTOS */
.parametro-senha-textos{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    color: var(--branco);
}

.parametro-senha-textos p{
    margin: 0;
}